.body{
    color: white;
    background: grey;
};
.heading{
    width: 80%;
    font-size: 22px;
   
};
.name_of_objects{
    color: black;

};
#camera{

    border: 2px Dashed black;
    width: 350px;
    height: 300px;
};
#result_object_name
#result_object_accuracy
{color: yellow;
};
